.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(108, 155, 202);
  width: 480px;
  height: 215px;
  border-radius: 9px;
}

.card .card-title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 230px;
  position: absolute;
  margin-bottom: 150px;
}

.card .card-text {
  font-size: 18px;
}

.card-subtitle {
  font-size: 14px;
}

.card .card-text {
  margin-bottom: 50px;
}


.card-likes {
  display: flex;
  margin-bottom: -100px;
}

.card-likes .button-card{
  display: flex;
  margin-left: 260px;
}

.card-likes button{
  margin-right: 5px;
}

.button-card img {
  width: 20px;
}

.space-line {
  background-color: bisque;
}

.line-vertical {
  height: 30px;
  margin-right: 450px;
  border-right: 2px solid #000;
}