.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 637px;
  background-color: #708090;
}

.title-login {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  color: aliceblue;
}

.login-page input{
  border-radius: 9px;
  border-color: transparent;
  height: 39px;
  margin-bottom: 13px;
  background-color: aliceblue;
  width: 300px;
  font-weight: bold;
}

.login-page label{
  margin-bottom: 3px;
  color: #000;
  font-weight: bold;
  margin-left: 5px;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.button-submit-login {
  background-color: #00008B;
  height: 33px;
  border-radius: 6px;
  border-color: transparent;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.7;
  width: 100%;
}

.button-submit-login:hover {
  align-self: center;
  background-color: #fff;
  height: 33px;
  border-radius: 6px;
  border-color: transparent;
  text-align: center;
  color: #00008B;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.7;
  width: 100%;
}

.text-account-login  {
  margin-top: 13px;
}

.text-account-login p {
  color: #000;
  font-weight: bold;
}

.text-account-login a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.text-account-login p:nth-child(2) {
  text-align: center;
  margin-top: 3px;
}

