.header-nav {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: whitesmoke;
  width: 700px;
}

.header-nav .logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav .nav {
  display: flex;
  margin-left: auto;
}

.header-nav .button-nav {
  margin-right: 20px;
  border-radius: 7px;
}

.header-nav .logo {
  margin-right: 20px;
}

.button-nav .active{
  opacity: 0.4 !important ;
}

.header-nav .loged-user {
  font-weight: 600;
  font-size: 18px;
  color: dodgerblue;
}

.button-logout {
  border-radius: 7px;
  width: 100px;
  margin-right: 20px;
  height: 28px;
  background-color:crimson;
  color: aliceblue;
  text-shadow: 10px;
  font-size: 16px;
  font-weight: 600;
}

.header-nav .loged-user {
  font-weight: 600;
  font-size: 18px;
  color: dodgerblue;
}